p{ 
  text-align:center;
  font-size:30px;
}
body{
    background-color:#F00501;
}
.cabecalho{
  border: 20px double #ffffff
}
.ii{
  font-size: 50px;
  display: inline-block;
  border: 10px solid #ffffff;
  padding: 2%;
  color: black:
  text-align: left;
}
.dog{
  padding: 2%;
  margin-left: 43%;
  display: inline-block;
}
.sabores{ 
  display: flex;
  padding: 2%;
}
  

/* Ketchup: #F00501
Mostarda: #FA9601
Maionese: #F0EE96
Vina: #E64001
Molho verde:#D2FA7B */
